<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/45e42e65d8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <main>
      <p id="notice"></p>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <%= render "users/user", user: @book1.user %>
            <%= render "books/book", book: @book %>
          </div>
        </div>
          <div class="col-md-8 offset-md-1">
            <h2>Book detail</h2>
            <table class="table">
              <tbody>
                <tr>
                  <td>
                      <%= link_to user_path(@user) do %>
                        <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40"%> <br>
                      <% end %>
                      <%= link_to @user.name, user_path(@user) %>
                  </td>
                  <td>
                    <%= link_to @book1.title, book_path(@book1)%>
                  </td>
                  <td>
                    <%= @book1.body %>
                  </td>
                  <td>
                    <% if @user == current_user %>
                      <%= link_to "Edit", edit_book_path(@book1), class: "btn btn-sm btn-success" %>
                    <% end %>
                  </td>
                  <td>
                    <% if @user == current_user %>
                      <%= link_to "Destroy", book_path(@book1), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="comment">
            <p>コメント件数:<%= @book1.book_comments.count %></p>
            <% @book1.book_comments.each do |book_comment| %>
              <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40"%>
              <%= book_comment.user.name %>
              <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
            <% end %>
            </div>

            <div class="new-comment">
              <%= form_with(model:[@book1, @book_comment], local: true) do |f| %>
                <%= f.text_area :comment %>
                <%= f.submit "送信" %>
              <% end %>
            </div>

          </div>
      </div>
    </main>
    <footer>
      <div class='container mt-5'>
  	    <div class='row'>
    	    <div class='mx-auto'>
    		    <p>CopyRight Infratop.inc</p>
    	    </div>
        </div>
      </div>
    </footer>
  </body>
</html>
